<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>The Pilot Crowd</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<div id="site-wrapper">
			<div id="site-canvas">
				<div id="site-menu">
					<h2>The Pilot Crowd</h2>
					<ul class="slide-nav">
						<li>Over ons</li>
						<li>Hoe werkt het?</li>
						<li><a href="" class="btn btn-default btn-block">Meld je aan!</a></li>
					</ul>
					<hr>
					<div class="flex-row">
						<div class="col">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</div>
						<div class="col">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</div>
						<div class="col">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			
				<header>
					<div class="header__navbar">
						<div class="container">
							<div class="menu-click hidden-md hidden-lg hidden-sm">
								<a href="#" class="toggle-nav">
									<div class="bar"></div>
									<div class="bar"></div>
									<div class="bar"></div>
								</a>
							</div>
							<div class="header__navbar--brand">
								<img src="images/logo.svg">
							</div>
							<ul class="header__navbar--menu pull-right hidden-xs">
								<li><a href="">Over ons</a></li>
								<li><a href="">Hoe werkt het?</a></li>
								<li><a href="" class="btn-rounded">Meld je aan!</a></li>
							</ul>
						</div>
					</div>
					<div class="header__content">
						<div class="header__content--text">
							<div class="container">
								<h1>Wij helpen piloten sneller en goedkoper van hun lening af te komen.</h1>
								<!-- <h2 class="lead">test test test</h2> -->
							</div>
						</div>
						<div class="header__content--signup">
							<div class="container">
								<div class="row">
									<div class="col-md-8 col-md-offset-2">
										<p class="text-center">Schrijf je in voor onze nieuwbrief en blijf op de hoogte van de laatste ontwikkelingen!</p>
								
										<div class="form-group-custom">
											<input type="text" name="name" id="name" placeholder="Naam">
											<input type="email" name="email" id="email" placeholder="E-mailadres">
											<button class="btn">Schrijf je in!</button>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</header>
				<div id="body">
					<!--
						Flash messages allow you to display once-off status messages to users, e.g. form
						validation errors, success messages, etc
					-->
					{{#if messages}}
					<div id="flash-messages" class="container">
						{{#if messages.info}}
						<div class="alert alert-info">
								{{{flashMessages messages.info}}}
						</div>
						{{/if}}
						{{#if messages.success}}
						<div class="alert alert-success">
								{{{flashMessages messages.success}}}
						</div>
						{{/if}}
						{{#if messages.warning}}
						<div class="alert alert-warning">
								{{{flashMessages messages.warning}}}
						</div>
						{{/if}}
						{{#if messages.error}}
						<div class="alert alert-danger">
								{{{flashMessages messages.error}}}
						</div>
						{{/if}}
					</div>
					{{/if}}
					<!-- The content block should contain the body of your template's content-->
					{{{body}}}
				</div>
		

				<footer>
					<div class="container">

						<div class="row menu">
							<div class="col-md-3">
								<p class="menu-head">Menu</p>
								<ul>
									<li>Home</li>
									<li>Over ons</li>
									<li>Hoe werkt het?</li>
									<li>Meld je aan</li>
								</ul>
							</div>
							<div class="col-md-3">
								<p class="menu-head">Voor wie?</p>
								<ul>
									<li>Piloten</li>
									<li>Ab initio</li>
									<li>Investeerders</li>
								</ul>
							</div>
							<div class="col-md-3">
								<p class="menu-head">Volg ons op</p>
								<ul class="fa-ul">
									<li><i class="fa-li fa fa-twitter"></i> Twitter</li>
									<li><i class="fa-li fa fa-facebook"></i> Facebook</li>
								</ul>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-12">
								<p><small>&copy; The Pilot Crowd | Voorwaarden en reglement</small></p>
								<img src="images/logo-blue.svg" class="svg" alt=""> 
							</div>
						</div>
					</div>
				</footer>
			</div>	
		</div>


		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
